<%- include('../partials/header') %> 
<section id="show-page">
    <label for="destination">Destination:</label>
    <input type="destination" value="<%= destination.destination %>">
    <br>
    <label for="id">ID:</label>
    <input type="id" value="<%= destination._id %>">
     
    <br>
    
    <form action="/destinations/<%= destination._id%>?_method=DELETE" class='delete-form' method="POST">
    
        <input type="submit" value="Delete">
    </form>
</section>
<%- include('../partials/footer') %>
